<div class="row">
  {{#each notes}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit" title="Edit Task"></i></a>
        </h5>
        <p class="card-text">{{ description }} </p>
      </div>
      <div class="card-footer d-flex justify-content-between align-items-center">{{ date }}
         {{#if status}}
         <button type="submit" class="btn">
          <i class="fa fa-window-close" title="Close Task" style="color:#FF5733;"></i></button>
        {{else}}
        <form action="/notes/statusUpdate/{{_id}}" method="POST">
          <input type="hidden" name="_method" value="POST">
          <button type="submit" class="btn">
          <i class="fa fa-check-square" title="Open Task" style="color:#008000;"></i></button>
        </form>
        {{/if}}
        
        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn">
          <i class="fa fa-trash"  title="Delete Task" style="color:rgb(8, 8, 8);"></i></button>
        </form>
       
        

      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello {{user.name}}</h1>
      <p clsss="lead">There are not Notes yet.</p>
      <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>
  